/* pc */
@media (min-width: 1024px) {

}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .common-section, 
    .tour-info,
    .band-members,
    .tour-dates {
        max-width: 100%;
    }
}

/* mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #header .nav-search {
        display: none;  
    }
    
    #header .mobile-menu,
    #nav li,
    #nav li a {
        display: block;
    }

    #nav li:first-child {
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
    }

    .overlay-on {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        animation: overlay-on-ani ease 0.5s;
    }

    .common-section, 
    .tour-info,
    .band-members,
    .tour-dates {
        max-width: 100%;
    }

    #slider .slider-content {
        display: none;
    }

    #content .common-section {
        padding-bottom: 32px;
    }

    #content .mobile-members {
        width: 100%;
        margin-top: 32px;
    }

    #content .member-img {
        width: auto;
    }

    #content .tour-places .mobile-places {
        width: 100%;
        margin-bottom: 16px;
    }

    #content .mobile-contact {
        width: 100%;
        margin-bottom: 16px;
    }

    @keyframes overlay-on-ani {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}