/* pc */
@media (min-width: 1024px) {
    .common-section, 
    .tour-info,
    .band-members,
    .tour-dates {
        max-width: 100%;
    }

    #nav .subnav li:hover a,
    #nav > li:hover > a {
        color: #000;
        background-color: #ccc;
    }

    #nav li:hover .subnav {
        display: block;
    }

    #header .nav-search:hover {
        background-color: #f44336;
        cursor: pointer;
    }

    #header .mobile-menu:hover {
        background-color: #bbb;
        color: #000;
    }

    #content .tour-places .place-img:hover {
        opacity: 0.6 ;
    }

    #content .tour-places .place-button:hover {
        cursor: pointer;
        background-color: #ccc;
        color: #000;
    }

    #footer .logo a:hover {
        cursor: auto;
        opacity: 0.6;
    }

    .modal-buy:hover,
    .modal-close:hover {
        background-color: #ccc;
        color: #000;
        cursor: pointer;
    }

    #header.expand {
        height: 46px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .common-section, 
    .tour-info,
    .band-members,
    .tour-dates {
        max-width: 100%;
    }

    .modal-container {
        min-width: 750px;
    }

    #nav li:hover .subnav {
        display: block;
        width: 100%;
    }
}

/* mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #header .nav-search {
        display: none;  
    }
    
    #header .mobile-menu,
    #nav li,
    #nav li a {
        display: block;
    }

    #nav li:first-child {
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
    }

    #nav > li:active > a {
        color: #000;
        background-color: #ccc;
    }

    #nav li:hover .subnav {
        display: inline-block;
        width: 100%;
    }

    #header .mobile-menu:active {
        background-color: #bbb;
        color: #000;
    }

    .overlay-on {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        animation: overlay-on-ani ease 0.5s;
    }

    .common-section, 
    .tour-info,
    .band-members,
    .tour-dates {
        max-width: 100%;
    }

    #slider .slider-content {
        display: none;
    }

    #content .common-section {
        padding-bottom: 32px;
    }

    #content .mobile-members {
        width: 100%;
        margin-top: 32px;
    }

    #content .member-img {
        width: auto;
    }

    #content .tour-places .mobile-places {
        width: 100%;
        margin-bottom: 16px;
    }

    #content .tour-places .place-button:active {
        background-color: #ccc;
        color: #000;
    }

    #content .mobile-contact {
        width: 100%;
        margin-bottom: 16px;
    }

    .modal-container {
        min-width: 100%;
    }

    .modal-buy:active {
        background-color: #ccc;
        color: #000;
    }

    .modal-close:active {
        color: #000;
    }

    @keyframes overlay-on-ani {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}